/* @import url('https://fonts.googleapis.com/css2?family=Segoe+UI:wght@400;600;700&display=swap'); */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', ui-sans-serif, system-ui, sans-serif,'Apple Color Emoji', 'Segoe UI Emoji','Segoe UI Symbol', 'Noto Color Emoji';


}


:root {
  /* Brand Colors */
  --color-orange: #f97316;
  --color-darknavy: #0a174e;
  --color-text: #6b7280;
  

  
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}