.dealsSection {
  margin: 30px auto; 
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 10px;


}
.iconContainer{
    display: flex;
    align-items: center;
}
.topdealIcon{
    width: 3.5rem;
}

.sectionHeader h2 {
  font-size: 1.15rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-darknavy);
  letter-spacing: -1px;
  margin-top: -7px;

}

.viewMoreBtn {
  color: var(--color-darknavy);
}

.viewMoreBtn {
  background: none;
  border: none;
  color: color;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  transition: text-decoration 0.2s ease;
  letter-spacing: -1px;
}

.sectionHeader button:hover {
  text-decoration: underline;
}

.dealSectionIcon {
  width: 1.5rem;
}

.productGrid {
  display: grid;
  gap: 8px;
  padding: 8px;
  grid-template-columns: repeat(2, 1fr);
}
.viewMoreContainer{
    display: none;

}
.viewMoreContainerMobile {
    display: block;
    margin-top: 10px;

}

@media (min-width: 768px) and (max-width: 1023px){
  .productGrid {
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
  }
  .sectionHeader{
    width: 80%;
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 0px ;

  }


  
.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

}
.iconContainer{
      display: flex;
  align-items: center;

}
.topdealIcon{
    
    width: 5rem;
}

.sectionHeader h2 {
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-darknavy);
  letter-spacing: -1px;
}

.viewMoreBtn {
  color: var(--color-darknavy);
}

.viewMoreBtn {
  background: none;
  border: none;
  color: color;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  transition: text-decoration 0.2s ease;
  letter-spacing: -1px;
}

.sectionHeader button:hover {
  text-decoration: underline;
}

.dealSectionIcon {
  width: 1.5rem;
}
  .viewMoreContainerDesktop {
    display: block;

  }
.productGrid {
  display: grid;
  gap: 8px;
  padding: 8px;
  grid-template-columns: repeat(5, 1fr);
  
}
.viewMoreContainer{
    display: block;
    
}
.viewMoreContainerMobile {
    display: none;

}


}
@media (min-width: 1024px) and (max-width: 1439px){
  .productGrid {
    grid-template-columns: repeat(6, 1fr);
    width: 80%;
  }
  .sectionHeader{
    width: 80%;
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 0px ;

  }
.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

}
.iconContainer{
      display: flex;
  align-items: center;

}
.topdealIcon{
    
    width: 5rem;
}

.sectionHeader h2 {
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-darknavy);
  letter-spacing: -1px;
}

.viewMoreBtn {
  color: var(--color-darknavy);
}

.viewMoreBtn {
  background: none;
  border: none;
  color: color;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  transition: text-decoration 0.2s ease;
  letter-spacing: -1px;
}

.sectionHeader button:hover {
  text-decoration: underline;
}

.dealSectionIcon {
  width: 1.5rem;
}
  .viewMoreContainerDesktop {
    display: block;

  }
.productGrid {
  display: grid;
  gap: 8px;
  padding: 8px;
  grid-template-columns: repeat(6, 1fr);
  
}
.viewMoreContainer{
    display: block;
    
}
.viewMoreContainerMobile {
    display: none;

}



}
@media (min-width: 1440px) {
  .productGrid {
    grid-template-columns: repeat(6, 1fr);
    width: 80%;
  }
  .sectionHeader{
    width: 80%;
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 0px ;

  }


  
.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

}
.iconContainer{
      display: flex;
  align-items: center;

}
.topdealIcon{
    
    width: 5rem;
}

.sectionHeader h2 {
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-darknavy);
  letter-spacing: -1px;
}

.viewMoreBtn {
  color: var(--color-darknavy);
}

.viewMoreBtn {
  background: none;
  border: none;
  color: color;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  transition: text-decoration 0.2s ease;
  letter-spacing: -1px;
}

.sectionHeader button:hover {
  text-decoration: underline;
}

.dealSectionIcon {
  width: 1.5rem;
}
  .viewMoreContainerDesktop {
    display: block;

  }
.productGrid {
  display: grid;
  gap: 8px;
  padding: 8px;
  grid-template-columns: repeat(6, 1fr);
  
}
.viewMoreContainer{
    display: block;
    
}
.viewMoreContainerMobile {
    display: none;

}



}


















































/* .dealsSection {
  margin: 30px auto; 
  width: 80vw;
  box-sizing: border-box;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0px 30px 0px 0px;


}

.sectionHeader h2 {
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
}

.sectionHeader h2 span {
  color: #f97316;
}

.sectionHeader button {
  background: none;
  border: none;
  color: #f97316;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  transition: text-decoration 0.2s ease;
}

.sectionHeader button:hover {
  text-decoration: underline;
}

.dealSectionIcon {
  width: 1.5rem;
}

.productGrid {
  display: grid;
  gap: 20px;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  align-items: center;


  
}

@media (min-width: 768px) {
  .productGrid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1920px) {

  .productGrid {
    grid-template-columns: repeat(6, 1fr);
    
  }
} */
