.header {
  width: 100vw;
  background: transparent;
  padding: 0.625rem 0.8125rem 0.625rem 0.8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
  
}
.scrolled {
  background-color: white;

}

.headerLogo {
  display: flex;
  align-items: center;
  gap: 0px;
}

.headerLogoImg {
  width: 2.8rem;
}
.headerLogotext{
  width: 6rem;

}
.headerLogoDesktop{
  display: none;
  width: 9rem;
}

.headerLogoText {
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 10px;
  color: #0B132B;
  width: 200px;
  margin-left: 5px;
  letter-spacing: -1px;
}

.headerSearch {
  width: 43vw;
  display: none;
}

.headerSearchInput {
  padding: 8px 12px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  outline: none;
  border: none;
}

.headerSearchInput:focus {
  background-color: white;
}

.headerLinks {
  display: none;
  align-items: center;
  gap: 2rem;
}

.headerLinks div {
  font-size: 1rem;
  color: #4B5563;
}


/* @media (min-width: 768px) and (max-width: 1023px){} */
@media (min-width: 768px) and (max-width: 1439px){
.threedotBtn{
    display: none;
  }
  .header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .headerLinks {
    display: none;

  }
  .headerLinks div{
    color: var(--color-darknavy);
    font-weight: 600;
  }
  .header{
    padding: 0.625rem 3rem 0.625rem 2rem;
  }
  .headerLinksItem{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .headerLinksItemImg{
    width: 1.67rem;
  }
  .headerLinksItemText{
    font-size: 0.875rem;
    letter-spacing: -0.5px;
    margin: -5px;
  }
  .headerLogoImg {
  display: none;
}
.headerLogotext{
  display: none;

}
.headerLogoDesktop{
  display: block;
  width: 9rem;
  
}
}
@media (min-width: 1440px) {
  .threedotBtn{
    display: none;
  }
  .header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .headerLinks {
    display: none;

  }
  .headerLinks div{
    color: var(--color-darknavy);
    font-weight: 600;
  }
  .header{
    padding: 0.625rem 3rem 0.625rem 2rem;
  }
  .headerLinksItem{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .headerLinksItemImg{
    width: 1.67rem;
  }
  .headerLinksItemText{
    font-size: 0.875rem;
    letter-spacing: -0.5px;
    margin: -5px;
  }
  .headerLogoImg {
  display: none;
}
.headerLogotext{
  display: none;

}
.headerLogoDesktop{
  display: block;
  width: 9rem;
  
}

}























/* normal laptop view */

/* .header {
  width: 100vw;
  background-color: #ffffff;
  padding: 13px 9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.headerLogo {
  display: flex;
  align-items: center;
}

.headerLogoImg {
  width: 2.3rem;
}

.headerLogoText {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
  color: #0B132B;
}

.headerSearch {
  width: 43vw;
}

.headerSearchInput {
  padding: 8px 12px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  outline: none;
  border: none;
}

.headerSearchInput:focus {
  background-color: white;
}

.headerLinks {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.headerLinks div {
  font-size: 1rem;
  color: #4B5563;
}
.threedot{
  display: none;
} */