.dealsSectionHeader {
  /* border: 1px solid red;  */
  width: 100vw;
}

.categoryBar {
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
  gap: 15px;
  padding: 15px 10vw;
  max-width: 1600px;
  margin: 0 auto;
}

.categoryBtn {
  padding: 6px 15px;
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #cfcfcf4b;
  border-radius: 3px;
  color: #7a7a7a;
  font-size: 0.95rem;
}

.activeCategoryBtn {
  background-color: #ff7b00;
  color: white;
}

@media (max-width: 768px) {
  .categoryBtn {
    font-size: 0.85rem; /* slightly smaller for tablets */
  }
}
.noProductFound {
  color: #ff7b00;
  font-size: 1.2rem;
  text-align: center;
  margin: 20px 0 0 0;
  /* border: 1px solid #ff7b00; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50vh;
  font-weight: 600;
}
.honeybeeGIF{
  /* border: 1px solid #7a7a7a; */
  position: absolute;
  width: 200px;
}
.noProductFound span{
  padding: 90px;
}
.loadingSpinner{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #7a7a7a; */
}
.loadingSpinner img {
  width: 150px;
}