.wrapper{
    width: 95%; 
     margin-top: 65px; 
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #fffdf7, #fbeec1, #f6c453);


 
    padding: 0.5rem 0.5rem;
    color: #fff;
    /* border: 1px solid black ; */
    } 
    
.miniCard {
  display: flex;
  justify-content: space-around;
  gap: 0.7rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
    

.imgContainer{

     display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 12px;
  overflow: hidden;

}


    
.imgs {
  width: 105px;
  height: 120px;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
  border-radius: 12px;
}

.label {
    font-size: 0.9rem;
    font-weight: 600;
    
    color: #800000; /* mehroon text */
    /* position: absolute;  */
    line-height:9px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    margin-top: 10px;
    margin-bottom: 2px;
}
.label1{
    font-size: 12px;
    letter-spacing: -1px;
    font-weight: 500;

}
.label2{
font-size: 15px;
    letter-spacing: -1px;
    font-weight: 700;
    
}

.heading{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
line-height: 20px;
color: #800000;
  text-align: center;
  background: linear-gradient(90deg, #800000, #e2c175);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
text-shadow: -0.5px -0.5px 2px #800000;
    /* wider glow */
}
.festive{
    font-size: 16px;
    letter-spacing: -0.5px;
    font-weight: 700;
}
.gift{
    
    font-size: 28px;
    letter-spacing: -1px;
    font-weight: 500;

}
