.subscribeSection {
  
  background-color: #0005060c; 
  /* background-color: #FFE4B5;  */

  color: white;
  padding: 40px 20px;
  text-align: center;
  width: 100vw;
}

.subscribeSection h2 {
  font-size: 1.5rem; /* ~text-2xl */
  font-weight: 600;
  margin: 0;
  color: var(--color-darknavy);
  /* color:white;
  color:white; */
  letter-spacing: -1.5px;
  
}

.subscribeSection p {
  margin-top: 8px;
  font-size: 1rem;
  color: var(--color-darknavy);
  /* color:white; */
  letter-spacing: -1px;
  line-height: 1.2rem;
  /* font-weight: 500; */
}

.formContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.formContainer input[type="email"] {
  padding: 10px 16px;
  width: 280px;
  border: none;
  border-radius: 8px 0 0 8px;
  font-size: 1rem;
  color: #1f2937; /* Tailwind's gray-800 */
  outline: none;
  background-color: white;
}

.formContainer button {
  background-color: #0a174e;
  /* background-color: #0B132B; */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 0 8px 8px 0;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
    letter-spacing: -0.5px;
  
}

.formContainer button:hover {
  background-color: #1f2937; /* Tailwind's gray-800 */
}

.subscribeEmail {
  border: 1px solid white;
}
.subscribeEmail::placeholder{
  color: var(--color-darknavy);
  /* font-weight: 500; */
  letter-spacing: -1px;
  /* font-size: 15px; */
}
@media (max-width: 500px) {
  .formContainer {
    flex-direction: column;
  }

.formContainer input[type="email"],
.formContainer button {
    border-radius: 8px;
    margin: 5px 0;
    width: 100%;
  }
}
